* {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    padding: 0 0;
    margin: 0 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main,footer {
    position: relative;
    top: 69px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 26px;
}

/* header */
header {
    height: 69px;
    border-bottom: 1px solid seashell;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
    opacity: 1;
    width: 100%;
}

header img {
    height: 50px;
    margin: 0 10px;
}

header ul li {
    display: inline;
    margin: 0 10px;
}

/* mission section */
#mission {
    background-image: url(/Resources/images/img-mission-background.webp);
    width: 1200px;
    height: 700px;
    display: flex;
    align-items: center;
}

#mission div {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* featured teas section */
#featured {
    width: 1000px;
    padding: 80px 0px;
}

#featured h4 {
    padding: 20px 0px;
}

.teaCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.teaCard {
    padding: 0 15px;
}

.teaCard img {
    height: 200px;
    width: 300px;
}

.teaCard h4 {
    padding-top: 10px;
}

/* locations section */
#locations {
    background-image: url("/Resources/images/img-locations-background.webp");
    width: 1200px;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#locations h2 {
    background-color: transparent;
    opacity: 1;
}

.locationCards {
    margin-top: 15px;
    background-color: transparent;
    display: flex;
    justify-content: center;
}

.locationCard {
    opacity: 1;
    width: 300px;
    height: 275px;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* footer */
.contact {
    height: 200px;
}

.contact h2 {
    margin-top: 10px;
}

.contact h5 {
    margin: 35px 0;
}

#copyright {
    text-align: left;
    margin-left: 20px;
    margin-bottom: 89px;
}